doctype
- var siteLanguages = Array.isArray(config.language) ? config.language : [config.language]
- var primaryLang = siteLanguages && siteLanguages.length ? siteLanguages[0] : 'zh-CN'
- var pageLang = page.lang || primaryLang
html(lang= pageLang)
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(defer, src= url_for('js/jquery.js'))
    script(defer, src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(defer, src= url_for('js/jquery.appear.js'))
