extends partial/layout
block content
	.autopagerize_page_element: .content
		- var postsCollection = page.posts;
		- if (!postsCollection) {
		- 	var indexLang = page.lang || page.language || (page.path && page.path.split('/')[0] === 'en' ? 'en' : (config.language ? config.language[0] : null));
		- 	postsCollection = site.posts.sort('date', -1);
		- 	if (indexLang) {
		- 		postsCollection = postsCollection.filter(function(item) {
		- 			if (indexLang === 'en') return item.lang === 'en';
		- 			return !item.lang || item.lang === 'zh-CN' || item.lang === 'zh';
		- 		});
		- 	}
		- }
		- postsCollection.each(function (item) {
			include mixins
			+make_post(item, false)
		- })
		include mixins
		+make_pager(__('prev'), __('next'))
