extends partial/layout
block content
	.autopagerize_page_element: .content
		- var postsCollection = page.posts || site.posts;
		- var filteredPosts = postsCollection;
		- (function(){
		- 	var langs = config.language ? [].concat(config.language).filter(Boolean) : [];
		- 	var defaultLang = langs.length ? langs[0] : null;
		- 	var langSegment = page.path ? page.path.split('/')[0] : '';
		- 	var segmentLang = (langSegment && langs.indexOf(langSegment) !== -1) ? langSegment : null;
		- 	var targetLang = page.lang || page.language || segmentLang || defaultLang;
		- 	if (!targetLang || !defaultLang) {
		- 		return;
		- 	}
		- 	if (targetLang !== defaultLang) {
		- 		filteredPosts = postsCollection.filter(function(item){ return item.lang === targetLang; });
		- 	}
		- })();
		- filteredPosts.each(function (item) {
			include mixins
			+make_post(item, false)
		- })
		include mixins
		+make_pager(__('prev'), __('next'))
