extends partial/layout

block site_title
  - var currentTag = page.tag || (page.lang === 'en' ? 'Tags' : '标签')
  != currentTag + " · " + config.title

block description
  - var tagLabel = page.lang === 'en' ? 'Tag: ' : '标签：';
  - var currentTag = page.tag || (page.lang === 'en' ? 'Tags' : '标签')
  - var desc = tagLabel + currentTag + ' - ' + config.title;
  meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content
    .archive.animated.fadeInDown
      ul.list-with-title
        include mixins
        +postList()
        +make_pager(__('prev'), __('next'))
